<div>
    <h1>Our Club</h1>
    <p>The Frisco Cycling Club is dedicated to advancing the sport of cycling with riders of all levels through local events,
        group rides, races, and community involvement.</p>

    <h2>GOALS</h2>
    <p>The FCC aims to build community involvement, community awareness, physical education and participation through club
        activities and charitable events.  We dedicated to enabling the sport of cycling within local and regional communities
        by hosting events, offering clinics, and teaming up with charities.  FCC regularly partners with organizations to
        raise money contributing to local community assistance programs, as well as national level medical research and
        development fund raisers.</p>

    <h2>SPONSORSHIP</h2>
    <p>The Frisco Cycling Club has obtained new sponsors for 2012 and have continued the relationship into the 2013 season.
        Richardson Bike Mart remains a long time premier sponsor of FCC, as does Crest Auto Group as a second year premier
        sponsor of the club.  The club is registered with USA Cycling under the name “Crest/RBM Cycling”.  Please visit
        our sponsor's tab for more information about all the club's sponsors.</p>

    <h2>RIDERS</h2>
    <p>FCC is comprised of various types bicycling enthusiasts.  The core of FCC consists of men, women, and children
        interested in recreational cycling.  There is a small racing contingency that was founded primarily on track
        racing at the Frisco Superdrome, and has recently expanded to road and criterium racing.   Mountain biking has
        also become a core discipline of FCC, with rider participating in racing as well as endurance challenges.  For
        more information please refer to tabs specific to your riding interests.</p>
    <h2>MEMBERSHIP</h2>
    <p>To join the Frisco Cycling Club, you may fill out the ONLINE APPLICATION, or for more information about
        Frisco Cycling Club or other methods of joining please contact Drew at <a href="mailto:membership@friscocycling.org">membership@friscocycling.org</a> for details.</p>
</div>