<div>
    <h1>MOUNTAIN BIKING</h1>


    <h2>TRAILS</h2>

    <p>The club is currently working Frisco Parks Dept to design and build a MTB train in north central Frisco.  In preparation the Frisco Cycling Clud is working together with Shawnee Trail Cycling Club and DORBA to make sure the best possible trail will be developed.  Additionally, we have sent several MTB focused club member to Trail Building School in preparation for development, build out and maintenance of MTB trails.  Currently, we have opened 5 miles of trail at the future site of the Frisco Northwest Community Park.</p>


    <h2>RIDES</h2>

    <p>Second Sunday Ride @ Erwin Park - a few riders have been meeting the second Sunday of the month at Erwin Park @ 7:30 am,
        weather permitting (see <a href="http://www.dorba.com/" target="_blank">www.DORBA.com</a> trail for closures).<br/>
    If anyone is interested in getting together more often or on another day/time please email your thoughts and we will try
        to accommodate other schedules.</p>

    <p>Many club members are gearing up for mountain bike season.  Frisco Cycling Club has members planning to participate in DORBA races, Terra Firma events and regular training rides.  If you are interested in participating in 12 hour or 24 hour XC events let us know.</p>

    <hr>
    <p><strong>NOTE</strong>:  To contribute or obtain more information about Mountain Biking with Frisco Cycling Club
        please email <a href="mailto:MTB@friscocycling.org">rides@friscocycling.org</a>. or visit us on
        <a href="https://www.facebook.com/groups/friscocycling" target="_blank">FACEBOOK</a>.</p>
</div>