<div>
    <h1>GROUP RIDES</h1>

    <p>Frisco Cycling Club regularly attends group rides around the Frisco community.
    Additionally, FCC leads several weekly training rides. See details below.</p><hr/>

    For the latest info on planned rides, visit us on <a href="https://www.facebook.com/groups/friscocycling" target="_blank">FACEBOOK</a>.

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>Meet Location</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tuesdays</td>
            <td>6:30 PM</td>
            <td>Superdrome Parking Lot</td>
            <td>We ride out to Craig Ranch area and do laps around Stacy Rd and Alma.
                With 6 laps it ends up being 33 miles. Pace is in the low 20's, but the
                loop allows for frequent re-group opportunities </td>
        </tr>
        <tr>
            <td>Thursdays</td>
            <td>6:30 PM</td>
            <td>Coffee and Cream parking lot (Legacy and Eldorado)</td>
            <td>This ride heads north on Legacy -> Panther Creek -> Teel and eventually heads out to the Tribute golf club.
                The route is just over 30 miles with a pace ranging from 21 - 23+. This is an advanced ride requiring paceline skills.</td>
        </tr>
        <tr>
            <td>Saturdays</td>
            <td>7:30 or 8:00 AM</td>
            <td>Richardson Bikemart Frisco</td>
            <td>This ride heads north up to Celina through Westin. The route is approximately 65 miles with a
                pace between 18 - 20. There are limited regrouping opportunities on this ride.</td>
        </tr>
        </tbody>
    </table>
</div>